@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  box-sizing: border-box;
}

:fokus, :active {
  outline: none;
}

a:fokus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:vistered {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
.wrapper{
  margin: 0px 40px 0px 40px;
}
 @media (max-width: 758px){
  .wrapper{
    margin: 16px; 
  }
 }
.container{
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 10px ;
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:  #FFFFEF;
  z-index: 2;
}
.header__body{
  position: relative;
  display: flex;
  justify-content: space-between; 
  height: 80px;
  align-items: center;
}
.header__logo{
  position: relative;
  z-index: 3;
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
}
.header__logo img{
  max-width: 100%;
  display: block;
}
.header__burger{
  display: none;
}
.header__menu{}
.header__list{
  position: relative;
  z-index: 2;
  display: flex;
}
.header__list li{
  margin: 0px 0px 0px 20px;
}
.header__link{
  color: #56593D; 
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none; 
  transition-duration: 0.3s; 
}
  .header__link:hover {
    color: #4985FF;
  }
@media (max-width:767px){
  body.lock{
    overflow: hidden;
  }
  .header__body{
    height: 50px;
  }
  .header__logo{
    flex: 0 0 40px;
  }
  .header__burger{
    display: block;
    position: relative;
    height: 30px;
    width: 20px;
    z-index: 3;
  }
  .header__burger:before,
  .header__burger:after{
    position: absolute; 
    content: '';
    background-color: #56593D;
    width: 100%;
    height: 2px;
    left: 0; 
    transition: all 0.3s ease 0s;
  }
  .header__burger span{
    position: absolute; 
    background-color: #56593D;
    width: 100%;
    height: 2px;
    top: 13px;
    left: 0; 
    transition: all 0.3s ease 0s;
  }
  .header__burger:before{
    top: 5px;
  }
  .header__burger:after{
    bottom: 7px;
  }
  .header__burger.active:before{
    transform: rotate(45deg);
    top: 13px;
  }
  .header__burger.active:after{
    transform: rotate(-45deg);
    bottom: 15px;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:  #FFFFEF;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active{
    top: 0;
  }
  .header__list{
    display: block
  }
  .header__list li{
    margin: 0px 0px 20px 0px;
  }
  .header__link{
    font-size: 24px;
  }
}
.mainblock__body{
  position: relative;
  background: #FFFFEF;
  height: 732px;
  margin-top: 348px;
  z-index: -2;
}
.mainblock__image img{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  z-index: -1;
  object-fit: none;
}
.mainblock__title{
  margin-top: -232px;
  margin-right: 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 1.8px;
  color: #56593D;
  padding: 400px 0px 0px 0px;
}
.mainblock__text{
  font-family: 'Roboto';
  font-style: normal;
  margin-right: 80px;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-align: right;
  color: #56593D;

}
 @media (max-width: 758px){
  .mainblock__body{
    padding: 0px 0px 70px 0px;
    margin-top: 316px; 
  }
  .mainblock__title{
    font-size: 18px;
    padding: 400px 0px 0px 32px;
    text-align: center;
  }
  .mainblock__text{
    font-size: 18px;
  }
 }
.mainblock__button-body{
  width:190px;
  height: 45px;
  background:#56593D;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 30px 30px 30px;
  z-index: 11;
  cursor: pointer;
  padding: 12px 0px 0px 45px;
}
.mainblock__button-body:hover {
  background-color: #C4C4C4;
}
.mainblock__button-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 25px 16px;
  text-align: center;
  letter-spacing: 1.575px;
  text-transform: uppercase;
  color: #FFFFEF;
  text-decoration: none;
  cursor: pointer;
}
.textblock__body{
  position: relative;
  height: 100%;
  padding: 94px 0px 94px 0px;
}
.textblock__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 81px;
  text-align: center;
  color: #56593D;
}
 @media (max-width: 758px){
  .textblock__text{
    font-size: 18px;
    line-height: 45px;
  }
  .textblock__body{
    padding: 94px 0px 32px 0px;
  }
 }
.tour__body{
  position: relative;
  background: #FFFFEF;
  padding: 63px 32px 63px 32px;
}
.tour__title{
  margin-bottom: 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #56593D;
}
.tour__row {
  display: flex;
  font-size: 0;
  margin: 0px -15px; 
}
.tour__column {
  padding: 0px 15px;
  flex: 0 0 33.333%; 
}
.item-tour__icon img{
  width: 100%;
  height: 100%;
  margin: 0px auto 15px auto;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.item-tour__title {
  text-align: center;
  color: #000000;
  font-size: 22px;
  font-family: 'Roboto';
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 16px 0px; 
}
.item-tour__text {
  text-align: center;
  color: #868585;
  font-family: 'Roboto';  
  line-height: 26px;
  font-weight: 300;
  font-size: 14px; 
}
 @media (max-width: 758px){
  .tour__body{
    padding: 32px 32px 32px 32px;
  }
  .tour__title{
    font-size: 18px;
    margin-bottom: 40px;
  }
  .tour__row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 
  .item-tour__title{
    font-size: 18px;
  }
  .item-tour__text{
    padding: 16px 0px 16px 0px;
  }
 }
.karakol__body{
  position: relative;
  background: #FFFFEF;
  margin-top: 23px;
  height: 732px;
  z-index: -2;
}
.karakol__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.8px;
  color: #56593D;
  margin-top: 32px;
  padding: 128px 0px 0px 0px;
}
.karakol__image img{
  position: absolute;
  width: 100%;
  padding: 32px 32px 32px 32px;
  height: 100%;
  object-fit: none;
  z-index: -1;
}
@media (max-width: 758px){
  .karakol__title{
    font-size: 22px;
    margin-bottom:24px;
  }
  .karakol__text{
    font-size: 18px;
    line-height: 28px;
  }
  .karakol__image img{
    padding: 16px 16px 16px 16px;
  }
}
.about__body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background: #FFFFEF;
  padding: 48px 32px;
  margin-top: 24px;
}
.about__image img{
  width: 100%;
  height: 100%;
  padding: 0px 32px;
  z-index: 8;
}
.about__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  margin-bottom: 400px;
}
.about__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 39px;
  text-align: center;
  color: #56593D;
  padding: 120px 0px 120px 0px;
}
.about__info:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  opacity: 0.5;
  background: #717353;
  z-index: 9;
}
.about__text{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #56593D;
}
 @media (max-width: 758px){
  .about__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 1;
  }
  .about__title{
    font-size: 24px;
    padding: 64px 0px 64px 0px;
  }
  .about__image img{
    padding: 0px;
    order: 2;
  }
  .about__info{
    padding: 16px;
    margin-bottom:0px;
  }
  .about__info:after {
    margin-bottom: 150px;
  }
 }
.sell__body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background: #FFFFEF;
  padding: 48px 32px;
  margin-top: 24px;
}
.sell__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  margin-bottom: 400px;
}
.sell__image img{
  width: 100%;
  height: 100%;
  padding: 128px 32px 0px 32px;
}
.sell__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 39px;
  text-align: center;
  color: #56593D;
  padding: 120px 0px 120px 0px;
}
.sell__info:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  opacity: 0.5;
  background: #717353;
}
.sell__text{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #56593D;
}
@media (max-width: 758px){
  .sell__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;
  }
  .sell__title{
    padding: 32px 0px 64px 0px;
    font-size: 24px; 
  }
  .sell__image img{
    order: 1;
    padding: 64px 0px 0px 0px;
  }
  .sell__info{
    margin-bottom:0px;
    padding: 16px;
  }
  .sell__info:after {
    margin-bottom: 180px;
  }
 }
.form__body{
  position: relative;
  background: #FFFFEF;
  margin-top: 40px;
}
.form__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  color: #56593D;
  padding: 48px 0px 16px 0px;
}
.form__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  color: #56593D;
  padding: 0px 0px 32px 0px;
}
.form__item{
  text-align: center;
  padding: 0px 160px 0px 0px;
}
.form__input{
  width: 489px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0px 0px 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 20px 20px;
  align-items: center;
}

.form__button{
  width:190px;
  height: 45px;
  background:#56593D;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.5s ease 0s;
}
.form__button:hover {
  background-color: #C4C4C4;
}
.form__end{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  color: #56593D;
  padding: 16px 0px;
}
@media (max-width: 758px){
  .form__body{
    padding: 0px 0px 0px 16px;
  }
  .form__title{
    font-size: 22px;
  }
  .form__text{
    font-size: 14px;
  }
  .form__end{
    font-size: 14px;
  }
  .form__input{
    border-radius: 30px;
    width: 100%;
    height: 30px;
    font-size: 14px;
  }
  .form__button{
    border-radius:30px;
    width:140px;
    height: 40px;
    font-size: 14px;
  }
}
.picture__body{
  position: relative;
  background: #FFFFEF;
  margin-top: 40px;
}
.picture__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #56593D;
  padding: 64px 0px 0px 0px;
}
.picture__row {
  display: flex;
}
.picture__column {
  flex: 0 0 25%;
  padding: 64px 20px;
}
@media (max-width: 758px){
  .picture__text{
    font-size: 18px;
    padding: 32px 0px 0px 0px;
  }
  .picture__row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 
  .picture__column {
    flex: 0 0 25%;
    padding: 32px 20px;
  }
  .item-picture__title{
    font-size: 18px;
  }
  .item-picture__text{
    padding: 16px 0px 16px 0px;
  }
 }
.item-picture {
  transition: 1s;
}
.item-picture__icon {
  position: absolute;
}
.item-picture__icon:hover {
  transform: scale(1.2);
}
.item-picture:hover { transform: scale(1.5); 
}
.footer__body {
  position: relative;
  background:  #717353;
  margin-top:120px;
}
.footer__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 19px;
  letter-spacing: 1.575px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFEF;
  padding: 64px 0px 32px 0px;
}
.footer__row {
  display: flex;
}
.footer__column {
  flex: 0 0 25%;
  padding: 0px 15px;
}
.footer__body span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  text-align: center;
  opacity: 0.5;
  background: #FFFFEF;
  text-align: center;
  margin-top: 16px;
}
.footer__end {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 21px;
  text-align: center;
  color:  #FFFFEF;
  padding: 32px 0px 16px 0px;
}

.item-footer__icon1 img{
  width: 70px; 
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 0px 0px 0px 120px;
}
.item-footer__icon img{
  width: 70px; 
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 0px 0px 0px 130px;
}
.item-footer__icon4 img{
  width: 70px; 
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 0px 0px 0px 125px;
}
.item-footer__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: center;
  padding: 32px 0px 0px 0px;
}
.item-footer__text {
  font-family: 'Roboto';
  font-style: normal;
  padding: 16px 0px 0px 0px ;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1.575px;
  color: #FFFFEF;
  text-align: center;
}
.item-footer__link {
  font-family: 'Roboto';
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1.575px;
  color: #FFFFEF;
  text-align: center;
  transition-duration: 0.3s;
}
.item-footer__link:hover {
  color: #4985FF;
}
@media (max-width: 758px){
  .footer__text{
    font-size: 18px;
    padding: 32px 0px 0px 0px;
  }
  .footer__row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 
  .footer__column {
    flex: 0 0 25%;
    padding: 32px 20px;
  }
  .item-footer__title{
    font-size: 18px;
  }
  .item-footer__icon{
    padding: 0px 0px 0px 50px;
  }
  .item-footer__text{
    padding: 16px 0px 16px 0px;
  }
  .item-footer__icon1 img{
    margin: 0px 0px 0px 60px; 
  }
    .item-footer__icon img{
    margin: 0px 0px 0px -20px; 
  }
  .item-footer__icon4 img{
    margin: 0px 0px 0px 0px; 
  }
 }